* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assests/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  
  background-image: url('./assests/warm-bg.jpg');
}

main {
 
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px ;
  margin-bottom:20px ;
  
  
}
.box{
  /* margin-left: auto;
  margin-right: auto;
  content: ' ';
  position: relative;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;

  height: 500px;
  width:40%;
  background-image: url('./assests/cold-bg.jpg');
  display: grid; */
  width:80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 5px 10px 8px 10px #131010;
  border-radius: 20px;
  
}
/* .myImage::after{
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.5;
}

.box>.myImage::after{
background-image: linear-gradient(
  135deg,
  orange,
  yellow,
);
} */

.myImage{
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  display: grid; */
  padding: auto;

  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ;
  display: block;
  border-radius: 20px 20px 0 0;
  
}



.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
 
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  display: block;
  
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  display: block;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);

}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 6vw;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  
}

.weather-box .weather {
  color: #FFF;
  font-size: 4vw;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location{
  padding-top: 20px;
}
.details{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 20px 20px;
}
.details p{
  position: relative;
  display: block;
   top: 10px;
  padding: 2px;
  font-weight: bold;
  padding-left: 40px;
  font-size: 25px;
  text-align: center;

}